.application,
.footer {
  padding: 0 0 125px;

  @media screen and (max-width: 640px) {
    padding: 50px 0;
  }

  .container {
    @include flex(center, center, column, 60px);
    @media screen and (max-width: 640px) {
      gap: 25px;
    }
  }

  .submit {
    padding: 20px;
    width: 900px;
    max-width: 85%;
    height: 185px;
    @include flex(center, center, column, 20px);
    border: 5px solid var(--accent);
    transition: 0.3s;
    cursor: pointer;
    --text-color: #fff;

    @media screen and (max-width: 640px) {
      width: 100%;
      max-width: 100%;
    }

    &:hover {
      background: var(--accent);
    }

    &__title {
      position: relative;
      font-size: 36px;
      font-weight: 700;
      line-height: 43px;
      letter-spacing: 0.14em;
      text-align: center;
    }

    &__desc {
      position: relative;
      font-size: 24px;
      text-align: center;
      @include times;
    }
  }

  .content {
    position: relative;
    padding: 56px 0;
    width: 100%;
    height: 270px;
    background: #eee;
    @include flex(center, flex-start, column);
    @media screen and (max-width: 1024px) {
      gap: 20px;
    }
    @media screen and (max-width: 640px) {
      height: auto;
    }
  }

  .wrapper {
    position: relative;
    padding: 0 50px;
    width: 100%;
    @include flex(center, space-between, row, 20px);

    @media screen and (max-width: 1024px) {
      padding: 0 20px;
    }
    @media screen and (max-width: 640px) {
      flex-direction: column;
      gap: 40px;
    }

    &::before {
      @include before;
      bottom: -30px;
      left: 20px;
      width: 528px;
      height: 10px;
      background: #d0d0d0;

      @media screen and (max-width: 1280px) {
        bottom: -40px;
        width: calc(100% / 2 - 80px);
      }
    }

    &::after {
      @include before;
      bottom: -30px;
      right: 20px;
      width: 528px;
      height: 10px;
      background: #d0d0d0;

      @media screen and (max-width: 1280px) {
        bottom: -40px;
        width: calc(100% / 2 - 80px);
      }
    }
  }

  .contacts {
    @include flex(flex-start, center, column, 15px);
    @media screen and (max-width: 640px) {
      align-items: center;
    }

    a {
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      letter-spacing: 0.075em;
      transition: 0.3s;

      @media screen and (max-width: 1024px) {
        font-size: 18px;
        line-height: 22px;
      }

      &:hover {
        color: var(--accent);
      }
    }
  }

  .networks {
    @include flex(center, center, row, 25px);

    a {
      transition: 0.3s;
      &:hover {
        transform: translateY(-10px);
      }
    }
  }
}

.footer {
  padding: 125px 0;
  background: url(../img/footer-bg.png) top/cover;

  @media screen and (max-width: 640px) {
    padding: 50px 0;
  }
}
